@{
    ViewData["Title"] = "Update";
}
@model QuestionUpdateViewModel

<h1>Update Question</h1>


<div class="row">
    <div class="col-md-6">
        <form asp-action="Update" method="post" asp-controller="Question">
            <input type="hidden" asp-for="QuestionUpdateDto.Id"/>
            <div class="form-group">
                <label asp-for="QuestionUpdateDto.SubjectId"></label>
                <select asp-for="QuestionUpdateDto.SubjectId" class="form-group">
                    <option value="">Seçiniz</option>
                    @foreach (dynamic subject in ViewBag.subjects)
                    {
                        <option value="@subject.Value">@subject.Text</option>
                    }
                </select>
                <span asp-validation-for="QuestionUpdateDto.SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionUpdateDto.QuestionText"></label>
                <input asp-for="QuestionUpdateDto.QuestionText" class="form-control"/>
                <span asp-validation-for="QuestionUpdateDto.QuestionText" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="hidden" asp-for="AnswerUpdateDtos[0].Id"/>
                <input type="hidden" asp-for="AnswerUpdateDtos[0].QuestionId"/>
                <label asp-for="AnswerUpdateDtos[0].AnswerText">Answer One Text</label>
                <input asp-for="AnswerUpdateDtos[0].AnswerText" class="form-control"/>

                <label asp-for="AnswerUpdateDtos[0].IsCorrect">Is Correct?</label>
                <!-- Toggle switch for true/false -->
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" asp-for="AnswerUpdateDtos[0].IsCorrect">
                    <label class="custom-control-label" for="customSwitch1">Toggle for True/False</label>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="AnswerUpdateDtos[1].Id"/>
                <input type="hidden" asp-for="AnswerUpdateDtos[1].QuestionId"/>
                <label asp-for="AnswerUpdateDtos[1].AnswerText">Answer Two Text</label>
                <input asp-for="AnswerUpdateDtos[1].AnswerText" class="form-control"/>

                <label asp-for="AnswerUpdateDtos[1].IsCorrect">Is Correct?</label>
                <!-- Toggle switch for true/false -->
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch2" asp-for="AnswerUpdateDtos[1].IsCorrect">
                    <label class="custom-control-label" for="customSwitch2">Toggle for True/False</label>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="AnswerUpdateDtos[2].Id"/>
                <input type="hidden" asp-for="AnswerUpdateDtos[2].QuestionId"/>
                <label asp-for="AnswerUpdateDtos[2].AnswerText">Answer Three Text</label>
                <input asp-for="AnswerUpdateDtos[2].AnswerText" class="form-control"/>

                <label asp-for="AnswerUpdateDtos[2].IsCorrect">Is Correct?</label>
                <!-- Toggle switch for true/false -->
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch3" asp-for="AnswerUpdateDtos[2].IsCorrect">
                    <label class="custom-control-label" for="customSwitch3">Toggle for True/False</label>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="AnswerUpdateDtos[3].Id"/>
                <input type="hidden" asp-for="AnswerUpdateDtos[3].QuestionId"/>
                <label asp-for="AnswerUpdateDtos[3].AnswerText">Answer Four Text</label>
                <input asp-for="AnswerUpdateDtos[3].AnswerText" class="form-control"/>

                <label asp-for="AnswerUpdateDtos[3].IsCorrect">Is Correct?</label>
                <!-- Toggle switch for true/false -->
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch4" asp-for="AnswerUpdateDtos[3].IsCorrect">
                    <label class="custom-control-label" for="customSwitch4">Toggle for True/False</label>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Update" class="btn-primary"/>
            </div>

        </form>
    </div>
</div>